<!DOCTYPE html>
<html>
<head>
  <title>自社出品機能</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    <%= link_to "Assessment", root_path, class: "title" %>
    <div class="userActions">
      <% if user_signed_in? %>
        <%= link_to "保存一覧", saved_items_path, class: "item_like" %>
        <%= link_to "商品登録", new_item_path, class: "item_register" %>
        <%= link_to current_user.name, "#", class: "registerLink" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "loginLink" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "registerLink" %>
        <%= link_to "ログイン", new_user_session_path, class: "loginLink" %>
      <% end %>
    </div>
  </header>

  <main>
    <%# 商品検索 %>
    <div class="searchResults">  
      <%= search_form_for @search do |f| %>
        <%= f.search_field :name_cont_any, placeholder: "商品名" %>
        <%= f.select :condition_id_eq, Condition.all.map { |c| [c.name, c.id] }, include_blank: true %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <%# /商品検索 %>
    <%= render partial: "items/index" %>
    
  </main>

  <footer>
  </footer>
</body>
</html>