<div class="items-sell-contents">
  <div class="items-sell-main">
    <%= form_with(model: @item, local: true) do |f| %>
    <%# 商品画像 %>
      <div class="img-upload">
        <div class="weight-bold-text">
          商品画像
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
             クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image, id:"item-image" %>
        </div>
      </div>
    <%# /商品画像 %>
    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">商品状態</div>
      <div class="form">
        <div class="weight-bold-text">
          商品状態
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:condition_id, Condition.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>
    <%# /商品の詳細 %>
    <%# 商品名 %>
      <div class="new-items">
        <div class="weight-bold-text">
          商品名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      </div>
    <%# /商品名 %>
    <%# 販売価格 %>
    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>相場価格</span>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>相場価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
      </div>
    </div>
    <%# /販売価格 %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "商品登録" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
    <% end %>
  </div>
</div>