<div class="item-img-content">
  <%= image_tag @item.image ,class:"item-box-img" %>
</div>

<div class="">
  商品状態<%= @item.condition.name %>
</div>
<div class="">
  商品名<%= @item.name %>
</div>
<div class="">
  相場<%= @item.price %>
</div>
<div class="">
  商品登録者<%= @item.user.name %>
</div>
